**/.vs/**
**/x64/**
QuadraticEquation/obj/Debug QuadraticEquation/obj/QuadraticEquation.csproj.nuget.dgspec.json QuadraticEquation/obj/QuadraticEquation.csproj.nuget.g.props QuadraticEquation/obj/QuadraticEquation.csproj.nuget.g.targets QuadraticEquation/obj/project.assets.json QuadraticEquation/obj/project.nuget.cache
QuadraticEquation/bin/Debug
